* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #333;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 100px;
}

.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
    /* top: 100px;
    left: 100px; */
}

.circle {
    background-color: #ff7979;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s ease;
}

.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40%;
    width: 40%;
    background: transparent;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

.circle button:focus {
    outline: none;
}

/* .circle button#open {
    
} */

.circle button#close {
    scale: 1.3;
    top: 45%;
    left: 55%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.content {
    font-family: cursive;
    max-width: 1000px;
    margin: 50px auto 200px auto;
}

.content h1,
.content h3 {
    font-family: fantasy, sans-serif;
}

.content small {
    color: rgb(120, 120, 120);
}

.content p {
    color: rgb(84, 83, 83);
}

.content img {
    width: 100%;
}

.container.show-nav + nav li {
    transform: translateX(0);

}

nav {
    position: fixed;
    bottom: 40px;
    left: 60px;
    z-index: -1;
}

nav ul {
    list-style: none;
    padding-left: 30px;
    text-transform: uppercase;
}

nav ul li {
    color: #fff;
    margin-bottom: 50px;
    transform: translateX(-200%);
    transition: transform 0.5s ease;
}

nav ul li + li {
    margin-left: 15px;
}

nav ul li + li + li {
    margin-left: 30px;
}

nav ul li i {
    font-size: 24px;
    margin-right: 16px;
}